.issue-list {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr;
}

.issue-list div {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 0.1fr;
}